body {
    font-family: Arial, sans -cerif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}
section{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}
h2 {
    color: #4CAF50;
}